<a href="#content" class="hide skipNav">Skip Navigation</a>
{% include "organisms-bluebar" %}
<div id="wrapper" class="fullGraphicsView">
<div id="bannerAndMeat">
{% include "organisms-banner" %}
<div id="meat" class="containsContent containsNavigation containsConNav">
<main id="content" role="main">
<div class="contentHead">


{% include "organisms-title" %}


</div>
<div class="contentMain">

{% include "organisms-content" %}


</div>
<div class="contentPost">


{% include "organisms-children" %}


</div>
</main>
<div id="navigation">
<div id="navInnerWrap" class="hasNav">


{% include "organisms-navigation" %}

</div>
</div>
</div>
</div>
<footer id="footer" role="contentinfo">
<div class="module1">

{% include "molecules-maintained" %}


</div><div class="module2 lastModule">

{% include "molecules-loginlogout" %}


</div><div class="poweredBy">Powered by <a href="http://reasoncms.org" title="Reason Content Management System">Reason CMS</a></div></footer>
</div>
<div id="bluebar-search-data" data-site-url="apps.carleton.edu/curricular/bioc" data-site-name="Biochemistry"></div>
