<div id="pageContent" class="module_identifier-mcla-EditableContentModule-mloc-main-mpar-dcca48101505dd86b703689a604fe3c4 module_api-standalone"><p>The Biochemistry minor requirements reflect the fundamental importance of the intellectual tools and structures of biology and chemistry to the study of all issues in biochemistry, and we ask students to get a grounding in both disciplines. It is likely that many students enrolling in the&nbsp;minor will major in either biology or chemistry. To encourage breadth within the minor, <em>no more than five</em> six-credit courses from a student’s own major may be counted toward the minimum requirements of the minor.</p>
<p>Both the <a href="//apps.carleton.edu/curricular/biol/">biology</a> and <a href="//apps.carleton.edu/curricular/chem/">chemistry</a> departments maintain vigorous weekly seminar programs, regularly bringing to the college distinguished scientists, including many biochemists. Each minor should make it a priority to attend relevant seminars whenever possible.</p>
<p><em>Seminar Links:</em></p>
<ul>
<li><em><a href="//apps.carleton.edu/curricular/biol/nucleus/?category=86955&amp;no_search=1">Biology Seminars</a></em></li>
<li><em><a title="Seminars" href="//apps.carleton.edu/curricular/chem/events/?category=168458&amp;amp;no_search=1">Chemistry Seminars</a></em></li>
</ul>
<p>Finally, both the chemistry and biology departments regularly offer integrative exercise experiences in biochemistry as an option for their majors. Minors who are biology or chemistry majors have the option of furthering their pursuit of biochemistry through a biochemical topic as the basis for their senior integrative exercise.&nbsp;</p></div>
