div.assets {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;

	h3 {
    margin: 0;
    padding: 0 0 5px;
		border:none;
		font-size:0.86em;
		font-weight:normal;
		font-style:italic;
		color:@assets_heading_color;
	}
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
	li {
    margin-top: 10px;
		padding-left:24px;
		background:url(/global_stock/images/silk_icons/page_white.png) left 0.33em no-repeat;
		min-height:22px;
	}
	li.pdf {
		background-image:url(/global_stock/images/silk_icons/page_white_acrobat.png);
	}
	li.doc, li.docx {
		background-image:url(/global_stock/images/silk_icons/page_white_word.png);
	}
	li.xls, li.xlsx {
		background-image:url(/global_stock/images/silk_icons/page_white_excel.png);
	}
	li.ppt, li.pptx, li.csv {
		background-image:url(/global_stock/images/silk_icons/page_white_powerpoint.png);
	}
	li.html, li.htm, li.xml {
		background-image:url(/global_stock/images/silk_icons/page_white_code.png);
	}
	li.txt, li.rtf, li.css {
		background-image:url(/global_stock/images/silk_icons/page_white_text.png);
	}
	li.eps, li.svg, li.ai {
		background-image:url(/global_stock/images/silk_icons/page_white_vector.png);
	}
	li.zip, li.sit {
		background-image:url(/global_stock/images/silk_icons/page_white_compressed.png);
	}
	li.psd {
		background-image:url(/global_stock/images/silk_icons/page_white_picture.png);
	}
	li.psd, li.tif, li.tiff, li.png, li.jpg, li.jpeg, li.gif {
		background-image:url(/global_stock/images/silk_icons/page_white_picture.png);
	}
	li.php {
		background-image:url(/global_stock/images/silk_icons/page_white_php.png);
	}
	li.exe {
		background-image:url(/global_stock/images/silk_icons/page_white_gear.png);
	}
  ul li {
    div.name {
      font-size: 85%;
      strong {
        font-size: 120%;
        font-style: normal;
      }
    }
    div.description {
      margin:0;
      font-size: 85%;
      margin-left: 1.5em;
    }
    div.date {
      color:@assets_date_color;
      font-size:@font-size-10;
    }
    div.author {
      font-weight: bold;
      color:#333;
      font-size:92%;
    }
  }
}
div.contentPost {
  div.assets {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    h3 {
      display: none;
    }
  }
}
