/*
 * YOUR STYLES HERE
 */

@primaryColor1: #f00;
@primaryColor2: #00f;
@secondaryColor1: #f0f;
@secondaryColor2: #0f0;

@backgroundColor: #fff;
@textColor: #000;
@linkColor: #00f;
@linkHoverColor: #009;

.primaryColor1 {
	background:@primaryColor1;
}

.primaryColor2 {
	background:@primaryColor2;
}

.secondaryColor1 {
	background:@secondaryColor1;
}

.secondaryColor2 {
	background:@secondaryColor2;
}

.backgroundColor {
	background:@backgroundColor;
}

.textColor {
	background:@textColor;
}

.linkColor {
	background:@linkColor;
}

.linkHoverColor {
	background:@linkHoverColor;
}

@import "standard/standard.less";
