<div class="formElement">
<div class="labelWrap">{% include "atoms-label" %}</div>
{% set foobar = "atoms-textarea" %}
<div class="elementWrap">{% include "atoms-textarea" %}</div>
<div class="commentWrap">{% include "atoms-comment" %}</div>
{{ foobar }}
</div>
