<div class="formElement text">
<div class="labelWrap">{% include "atoms-label" %}</div>
<div class="elementWrap">{% include "atoms-text-input" %}</div>
<div class="commentWrap">{% include "atoms-comment", {'comment': 'Variable Comment' } %}</div>
</div>
