<fieldset class="formElement radio">
<legend class="labelWrap">Legend</legend>
<div class="elementWrap radioGroup">
  <div class="radioOption">{% include "atoms-radio" %} {% include "atoms-label" %}</div>
  <div class="radioOption">{% include "atoms-radio" %} {% include "atoms-label" %}</div>
  <div class="radioOption">{% include "atoms-radio" %} {% include "atoms-label" %}</div>
  <div class="radioOption">{% include "atoms-radio" %} {% include "atoms-label" %}</div>
</div>
<div class="commentWrap">{% include "atoms-comment" %}</div>
</fieldset>
