<fieldset class="formElement checkbox">
<legend class="labelWrap">Legend</legend>
<div class="elementWrap checkboxGroup">
  <div class="checkboxOption">{% include "atoms-checkbox" %} {% include "atoms-label" %}</div>
  <div class="checkboxOption">{% include "atoms-checkbox" %} {% include "atoms-label" %}</div>
  <div class="checkboxOption">{% include "atoms-checkbox" %} {% include "atoms-label" %}</div>
  <div class="checkboxOption">{% include "atoms-checkbox" %} {% include "atoms-label" %}</div>
</div>
<div class="commentWrap">{% include "atoms-comment" %}</div>
</fieldset>
