<div class="loginLinkModule authenticated"><div class="editDiv">
<a href="https://apps.carleton.edu/reason/?site_id=13597&amp;type_id=3317&amp;id=1613232&amp;cur_module=Editor&amp;fromweb=https%3A%2F%2Fapps.carleton.edu%2Fcurricular%2Fbioc%2Fminor%2F" class="editLink editPageLink">Edit Page</a> <span class="editDivider">·</span>
<a href="https://apps.carleton.edu/reason/?site_id=13597" class="editLink editSiteLink">Edit Site</a>
</div><div class="inlineEditDiv">
<a href="https://apps.carleton.edu/curricular/bioc/minor/?inline_editing_availability=enable" class="inlineEditLink">Edit in Place</a>
</div><p id="footerLoginLink"><span class="username">mryan</span>: <a href="https://apps.carleton.edu/login/?logout=1" class="logout">Logout</a></p>
</div>
