/* IMPORTANT NOTE: this depends on a wrapper element being set to .825em and the body being set to 100%. THis sets the default text size to 13px across all browsers. */
/* To set any text inside the wrapper you should use ems, assuming 13px as the base value */
/* So, for anything inside #wrapper: */
/* 8px = 0.615em; 9px = 0.692em; 10px = 0.769em; 11px = 0.846em; 12px = 0.923em; 13px = 1em; 14px = 1.077em; 15px = 1.154em; 16px = 1.231em; 17px = 1.308em; 18px = 1.385em; 19px = 1.462em; 20px = 1.538em; 21px = 1.615em; 22px = 1.692em; 23px = 1.77em; 24px = 1.846em; 25px = 1.923em; 26px = 2em; 27px = 2.077em; 28px = 2.154em; 29px = 2.231em; 30px = 2.308em; 31px = 2.385em; 32px = 2.462em; */
/* If the html does not have a wrapper div, you may want to create one and either give it id "wrapper" */

@font-size-8: 0.615em;
@font-size-9: 0.692em;
@font-size-10: 0.769em;
@font-size-11: 0.846em;
@font-size-12: 0.923em;
@font-size-13: 1em;
@font-size-14: 1.077em;
@font-size-15: 1.154em;
@font-size-16: 1.231em;
@font-size-17: 1.308em;
@font-size-18: 1.385em;
@font-size-19: 1.462em;
@font-size-20: 1.538em;
@font-size-21: 1.615em;
@font-size-22: 1.692em;
@font-size-23: 1.77em;
@font-size-24: 1.846em;
@font-size-25: 1.923em;
@font-size-26: 2em;
@font-size-27: 2.077em;
@font-size-28: 2.154em;
@font-size-29: 2.231em;
@font-size-30: 2.308em;
@font-size-31: 2.385em;
@font-size-32: 2.462em;
