<nav class="children" role="navigation" id="childrenModule1">
<ul class="childrenList">
<li class="number1 odd"><a href="minor_req/"><h4>Minor Requirements</h4></a></li>
<li class="number2 even"><a href="minor_req/"><h4>Another Child</h4></a></li>
</ul>
</nav>
