<header id="banner" role="banner" aria-label="site">
<div class="navJump"><a href="#minisiteNavigation" title="Navigation menu"><span class="navJumpText">Jump to navigation menu</span></a></div>
<h1 class="banner-text"><a href="/curricular/bioc/"><span>{{ site_name }}</span></a></h1>
</header>
