<ul class="sg-colors">
	<li>
		<span class="sg-swatch primaryColor1"></span>
		<span class="sg-label">Primary Color 1</span>
	</li>
	<li>
		<span class="sg-swatch primaryColor2"></span>
		<span class="sg-label">Primary Color 2</span>
	</li>
	<li>
		<span class="sg-swatch secondaryColor1"></span>
		<span class="sg-label">Secondary Color 1</span>
	</li>
	<li>
		<span class="sg-swatch secondaryColor2"></span>
		<span class="sg-label">Secondary Color 2</span>
	</li>
	<li>
		<span class="sg-swatch backgroundColor"></span>
		<span class="sg-label">Background Color</span>
	</li>
	<li>
		<span class="sg-swatch textColor"></span>
		<span class="sg-label">Text Color</span>
	</li>
	<li>
		<span class="sg-swatch linkColor"></span>
		<span class="sg-label">Link Color</span>
	</li>
	<li>
		<span class="sg-swatch linkHoverColor"></span>
		<span class="sg-label">Link Hover Color</span>
	</li>
</ul>
