<p>Lorem ipsum dolor sic amet that's about all I can recall from memory</p>
<p><code>&lt;strong&gt;</code>, <code>&lt;em&gt;</code>:<strong>Strong text</strong> <em>Emphasized text</em> <strong><em>Both</em></strong></p>
<p><code>&lt;q&gt;</code>: This is <q>An Inline Quote</q> – Somebody</p>
<p><code>&lt;a&gt;</code>:Here is <a href="#dfn-internet">a link to the definition of the internet</a></p>
<p><code>&lt;abbr&gt;</code>: <abbr title="Abbreviation">Abbr</abbr> is itself an abbreviation.</p>
<p><code>&lt;cite&gt;</code>: <cite>The Oxford English Dictionary</cite></p>
<p><code>&lt;code&gt;</code>: <code>foreach($foo as $bar) { echo $bar; }</code></p>
<p><code>&lt;dfn&gt;</code>:<dfn id="dfn-internet">The internet</dfn> is a system of interconnected networks.</p>
<p><code>&lt;kbd&gt;</code>: Type <kbd>ls</kbd> to see the contents of the current directory.</p>
<p><code>&lt;samp&gt;</code>: The result will look like this: <samp>.	..	somefile.txt	anotherfile.txt</samp></p>
<p><code>&lt;time&gt;</code>: <time datetime="2017-10-07T12:00">Saturday, October 7, 2017 at noon</time></p>
<p><code>&lt;var&gt;</code>: <var>x</var> = <var>y</var>/2</p>
<p><code>&lt;bdo&gt;</code>: <bdo dir="rtl">Right to left</bdo></p>
<p><code>&lt;sub&gt;</code> &amp; <code>&lt;sup&gt;</code>: <sub>Subscript</sub> <sup>Superscript</sup></p>
<p><code>&lt;hr&gt;</code>: <hr></p>
