<ul>
  <li>First item</li>
  <li>Second item
    <ul>
      <li>Sub-item</li>
      <li>Sub-item
        <ul>
          <li>Sub-item</li>
          <li>Sub-item</li>
        </ul>
      </li>
      <li>Sub-item</li>
      <li>Sub-item</li>
    </ul>
  </li>
  <li>Third item</li>
</ul>
