<ol>
  <li>First item</li>
  <li>Second item
    <ol>
      <li>Sub-item</li>
      <li>Sub-item
        <ol>
          <li>Sub-item</li>
          <li>Sub-item</li>
        </ol>
      </li>
      <li>Sub-item</li>
      <li>Sub-item</li>
    </ol>
  </li>
  <li>Third item</li>
</ol>

